*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:black;
    height: 90px;
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 50px;
    position: sticky;
    top: 0;
}
.menu a{
    color: white;
    text-decoration: none;

}
.menu a:hover{
    text-decoration: underline;
}
.search input{
    width: 90%;
    padding: 1%;
    margin: 45px 0;
}
.search{
    text-align: center;
}
.images img{
    width: 100%;
}
.images{
    display: flex;
    gap: 2%;
    padding:0 15%;
    text-align: center;
    margin-bottom: 50px;
}
.img{
    border: solid 1px black;   
}
.about{
    text-align: center;
    margin: 1% 6%;
    margin-bottom: 50px;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1% 6%;
}
.para{
    margin: 4% 0;
}